@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


.App {
  text-align: center;
  background-color: #0a2456;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Space Mono', monospace;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: rgba(255, 255, 255, 0.925);
}

a:link, a:visited{
  
  color:aqua;
  text-decoration: underline;
  font-family: 'Space Mono', monospace;
  font-size: calc(2px + 2vmin);
}

.wrapper {
  width: 100px;
  height: 500px;
  display: flex;
}